.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

h3 {
  margin-bottom: 1em;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 62vh;
    width: 72vw;
    border-radius: 0.5em;
    padding: 16px;
    margin: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.eventImage{
	height: 5vh;
}

body,html{
	overflow-x: hidden;
}
.section-banner{
	padding-bottom: 10vh;
}
.section-one{
	padding-bottom: 29vh;
}
.image-work{
padding: 40px;}

.kunal-work-one{
	width: 80%;
	height: 20vh;
	padding: 25px;
	border-radius: 0.4em;
}
.kunal-work-two{
	width: 100%;
	height: 39vh;
	border-radius: 0.4em;
}


.work-subheading{

font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 23px;
letter-spacing: 0.01em;

color: #111111;
float: left;

}
.work-para{

font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 16px;

color: #999999;
float: left;
}
.work-subbutton{


border: 1px solid #111111;
box-sizing: border-box;
border-radius: 2px;
background-color: transparent;
padding-bottom: 5px;
padding-top: 5px;
padding-right: 15px;
padding-left: 15px;
float: left;}

.EventsCurrent{
margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;	text-align: center;
}

.details {
    font-size: 15px;
    font-weight: 700;
    color: red;
}

.remainingDetails{
	font-size: 1em;
	padding-top: 5vh;
}